---
import Layout from '@layouts/layout.astro';
import { getFrontmatter } from '@utils/frontmatter';
import type { GetStaticPaths, InferGetStaticPropsType } from 'astro';
import { getCollection, render } from 'astro:content';

export const getStaticPaths = (async () => {
	const posts = await getCollection('blog');
	return posts
		.filter((post) => import.meta.env.DEV || !post.data.draft)
		.map((post) => {
			return {
				params: { slug: post.id },
				props: { post },
			};
		});
}) satisfies GetStaticPaths;
type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const { post } = Astro.props as Props;
const { readingTime } = getFrontmatter(post.rendered);
const { Content } = await render(post);
---

<Layout title={post.data.title} description={post.data.description}>
	<div class="flex flex-wrap mt-4 gap-1">
		<time datetime={post.data.date.raw}>{post.data.date.formatted}</time>-<p>{readingTime}</p>
	</div>
	<h2 class="leading-tight font-bold text-gradient text-6xl mt-2 mb-12">{post.data.title}</h2>
	<article
		class="prose prose-li:my-[0.25em] prose-lg dark:prose-invert pb-[100px] prose-pre:bg-[#011627] prose-code:before:content-none prose-code:after:content-none prose-code:not-[pre]:bg-code prose-code:text-white prose-code:rounded-[4px] prose-code:not-[pre]:px-1.5 prose-code:not-[pre]:py-1 prose-code:[&_a]:underline prose-h1:leading-[1.4] prose-code:hyphens-none max-w-none prose-headings:font-medium"
	>
		<Content />
	</article>
</Layout>
