---
export interface Meta {
	name: string
	content: string
}

interface Props {
	title?: string
	description?: string
	extraMeta?: Meta[]
}

import Header from '@components/header.astro'
import '@styles/tailwind.css'
import '@styles/fonts.css'

const { title, description, extraMeta } = Astro.props
const currentURL = new URL(Astro.url.pathname, Astro.site)
const canonicalURL =
	currentURL.pathname.endsWith('/') ?
		currentURL.toString().slice(0, -1)
	:	currentURL
const safeTitle = `Joep Kockelkorn${title ? ` | ${title}` : ''}`
---

<html
	lang="en"
	class="relative flex h-full scroll-pt-[4rem] flex-col scroll-smooth break-words hyphens-auto [color-scheme:var(--color-scheme)] [scrollbar-gutter:stable]"
>
	<head>
		<!-- Favicon -->
		<link rel="manifest" href="/manifest.json" />
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />

		<!-- Meta tags -->
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<link rel="canonical" href={canonicalURL} />
		<title>{safeTitle}</title>
		{description && <meta name="description" content={description} />}
		{
			extraMeta &&
				extraMeta.map(({ name, content }) => (
					<meta name={name} content={content} />
				))
		}

		<!-- Partytown + analytics -->
		<script
			is:inline
			async
			type="text/partytown"
			src="https://www.googletagmanager.com/gtag/js?id=G-BS603B8LYL"></script>
		<script is:inline type="text/partytown" src="/google-analytics.js"></script>
	</head>
	<body
		class="flex min-h-full flex-col bg-background text-text motion-safe:transition-colors"
	>
		<Header />
		<main class="isolate z-0 shrink grow">
			<div
				class="mx-auto mb-8 flex h-full max-w-3xl flex-col px-4 md:px-6 xl:px-8"
			>
				<slot />
			</div>
		</main>
	</body>
</html>
